<div class="ui three column stackable center aligned page grid">
  <div class="column">
      <div class="ui raised very padded text container segment" >
        <div class="ui one column grid">
            <div class="column">
                <div class="ui form">
                  <h1 style="text-align:center">Login</h1>
                  <%= form_tag '/login' do%>
                  <div class="field">
                    <label>
                      <%= label_tag :username %>
                    </label>
                    <div class="ui left icon input">
                      <%= text_field_tag :username%><br>
                      <i class="user icon"></i>
                    </div>
                  </div>
                  <div class="field">
                    <label>
                      <%= label_tag :password%>
                    </label>
                    <div class="ui left icon input">
                      <%= password_field_tag :password%><br>
                      <i class="key icon"></i>
                    </div>
                  </div>
                  <div class="field">
                    <%= submit_tag "Login", :class =>"ui button" %>
                    <div class="ui divider"></div>
                    <%= link_to 'Back', '/welcome', :class =>"ui button" %>
                  </div>
        </div>
      </div>
    </div>
  </div>
</div>
</div>

<%end%>
