<div class="ui three column stackable center aligned page grid">
<div class="column">
<div class="ui raised very padded text container segment" style="text-align:center">
<div class="ui one column  grid">
  <div class="column">
    <div class="ui form error">
  <h1 style="text-align:center">Sign up</h1>
  <%= form_for @user do |f|%>

<div class="column">
  <div class="field">
    <button class="ui google plus button">
  <i class="google icon"></i>
  Sign up using Google
</button>
    </div>
    <div class="ui horizontal divider">
    Or
  </div>
<div class="required field">
  <%= f.label :username, :class =>"label" %>
  <div class="ui left icon input">
  <%= f.text_field :username%><br>
  <i class="user icon"></i>
  </div>
</div>
</div>
<div class="required field">
  <%= f.label :password, :class =>"label" %>
  <div class="ui left icon input">
  <%= f.password_field :password%><br>
  <i class="key icon"></i>

</div>
</div>
<div class="field">
    <%= f.submit :class =>"ui button" %>

<div class="ui divider"></div>
      <%= link_to 'Back', '/welcome', :class =>"ui button" %>
</div>
</div>
</div>
</div>
</div>
</div>
</div>

<%end%>
